# <font color='blue'>Module 9 - CCPS 109</font>
# Recursion and JSON Files
* **Recursion**
* **reading and exploring the JSON files**
* **sorted function**

**Calculating factorial of a number**

In [1]:
def factorial(num):
    factorial = 1
    # check if the number is negative, positive or zero
    if num < 0:
        return -1
    elif num == 0:
        return 1
    else:
        for i in range(1,num + 1):
            factorial = factorial*i
        return factorial

In [2]:
print(factorial(3))
print(factorial(5))

6
120

**Following implementation can be considered as correct, assuming that the users will input only positive numbers. (factorial is defined only for non-negative integer numbers)**

In [3]:
def iterative_factorial(n):
    result = 1
    for i in range(2,n+1):
        result *= i
    return result

In [4]:
iterative_factorial(-13)

1

# Recursion
Recursion is a technique of solving a problem where the solution depends on solutions to smaller instances of the same problem

In [5]:
def fact(n):
    if n == 0:
        return 1
    else:
        return n * fact(n-1)

In [6]:
print(fact(3))
print(fact(5))

6
120

In [7]:
#fact(1970)

In [8]:
#Uncomment this code will give the following output
#fact(1971)

<pre><span class="ansi-red-intense-fg ansi-bold">---------------------------------------------------------------------------</span>
<span class="ansi-red-intense-fg ansi-bold">RecursionError</span>                            Traceback (most recent call last)
<span class="ansi-green-intense-fg ansi-bold">&lt;ipython-input-64-bf9c14a30c98&gt;</span> in <span class="ansi-cyan-fg">&lt;module&gt;</span><span class="ansi-blue-intense-fg ansi-bold">()</span>
<span class="ansi-green-intense-fg ansi-bold">----&gt; 1</span><span class="ansi-yellow-intense-fg ansi-bold"> </span>fact<span class="ansi-yellow-intense-fg ansi-bold">(</span><span class="ansi-cyan-intense-fg ansi-bold">1971</span><span class="ansi-yellow-intense-fg ansi-bold">)</span>

<span class="ansi-green-intense-fg ansi-bold">&lt;ipython-input-38-30e396369bb1&gt;</span> in <span class="ansi-cyan-fg">fact</span><span class="ansi-blue-intense-fg ansi-bold">(n)</span>
<span class="ansi-green-fg">      3</span>         <span class="ansi-green-intense-fg ansi-bold">return</span> <span class="ansi-cyan-intense-fg ansi-bold">1</span>
<span class="ansi-green-fg">      4</span>     <span class="ansi-green-intense-fg ansi-bold">else</span><span class="ansi-yellow-intense-fg ansi-bold">:</span>
<span class="ansi-green-intense-fg ansi-bold">----&gt; 5</span><span class="ansi-yellow-intense-fg ansi-bold">         </span><span class="ansi-green-intense-fg ansi-bold">return</span> n <span class="ansi-yellow-intense-fg ansi-bold">*</span> fact<span class="ansi-yellow-intense-fg ansi-bold">(</span>n<span class="ansi-yellow-intense-fg ansi-bold">-</span><span class="ansi-cyan-intense-fg ansi-bold">1</span><span class="ansi-yellow-intense-fg ansi-bold">)</span>

... last 1 frames repeated, from the frame below ...

<span class="ansi-green-intense-fg ansi-bold">&lt;ipython-input-38-30e396369bb1&gt;</span> in <span class="ansi-cyan-fg">fact</span><span class="ansi-blue-intense-fg ansi-bold">(n)</span>
<span class="ansi-green-fg">      3</span>         <span class="ansi-green-intense-fg ansi-bold">return</span> <span class="ansi-cyan-intense-fg ansi-bold">1</span>
<span class="ansi-green-fg">      4</span>     <span class="ansi-green-intense-fg ansi-bold">else</span><span class="ansi-yellow-intense-fg ansi-bold">:</span>
<span class="ansi-green-intense-fg ansi-bold">----&gt; 5</span><span class="ansi-yellow-intense-fg ansi-bold">         </span><span class="ansi-green-intense-fg ansi-bold">return</span> n <span class="ansi-yellow-intense-fg ansi-bold">*</span> fact<span class="ansi-yellow-intense-fg ansi-bold">(</span>n<span class="ansi-yellow-intense-fg ansi-bold">-</span><span class="ansi-cyan-intense-fg ansi-bold">1</span><span class="ansi-yellow-intense-fg ansi-bold">)</span>

<span class="ansi-red-intense-fg ansi-bold">RecursionError</span>: maximum recursion depth exceeded in comparison

</pre>

fact(1971)

**This happens because python stop calling recursive function after a certain number of calls by default. To change this behavior you need to amend the code as follows.**

In [9]:
import sys
sys.setrecursionlimit(3000)
 
def fact(n):
    if n == 0:
        return 1
    else:
        return n * fact(n-1)

In [10]:
#Uncomment the following, it works
#fact(2000)

**calculating sum of all elements of a list recursively**

In [11]:
def list_sum_recursive(input_list):
    # Base case
    if input_list == []:
        return 0

    # Recursive case
    # Decompose the original problem into simpler instances of the same problem
    # by making use of the fact that the input is a recursive data structure
    # and can be deÔ¨Åned in terms of a smaller version of itself
    else:
        head = input_list[0]
        smaller_list = input_list[1:]
        return head + list_sum_recursive(smaller_list)

In [12]:
list_sum_recursive([11, 12, 13])

36

### Sorted() function in Python

Sorting any sequence is very easy in Python using built-in method sorted() which does all the hard work for you.

Sorted() sorts any sequence (list, tuple) and always returns a list with the elements in sorted manner, without modifying the original sequence.

**Syntax** : sorted(iterable, key, reverse)

**Parameters** : sorted takes three parameters from which two are optional.

* Iterable : sequence (list, tuple, string) or collection (dictionary, set, frozenset) or any other iterator that needs to be sorted.
* Key(optional) : A function that would server as a key or a basis of sort comparison.
* Reverse(optional) : If set true, then the iterable would be sorted in reverse (descending) order, by default it is set as false

In [13]:
x = [2, 8, 1, 4, 6, 3, 7]

In [14]:
sorted(x)

[1, 2, 3, 4, 6, 7, 8]

**Custom Sorting using the key parameter**

* sorted() function has an optional parameter called ‚Äòkey‚Äô which takes a function as its value. This key function transforms each element before sorting, it takes the value and returns 1 value which is then used within sort instead of the original value.

* For example, if we pass a list of strings in sorted(), it gets sorted alphabetically . But if we specify key = len, i.e. give len function as key, then the strings would be passed to len, and the value it returns, i.e. the length of strings will be sorted. Which means that the strings would be sorted based on their lengths instead

In [15]:
L = ["cccc", "b", "dd", "aaa"] 
sorted(L)

['aaa', 'b', 'cccc', 'dd']

In [16]:
sorted(L, key = len)

['b', 'dd', 'aaa', 'cccc']

**Key also takes user-defined functions as its value for the basis of sorting.**

In [17]:
# Sort a list of integers based on 
# their remainder on dividing from 7 
  
def func(x): 
    return x % 7

In [18]:
L = [15, 3, 11, 7] 
sorted(L)

[3, 7, 11, 15]

In [19]:
sorted(L, key = func)

[7, 15, 3, 11]

In [20]:
import json

with open('countries.json', encoding="utf-8") as data_file:
    countries = json.load(data_file)

print(f"Read {len(countries)} countries from the JSON file.")

Read 240 countries from the JSON file.

In [21]:
type(countries)

list

In [22]:
countries[0]

{'Area': '652230 kilometers squared',
 'Continent': 'Asia',
 'GDP': '19331286549 US dollars per year',
 'Name': 'Afghanistan',
 'NaturalHazards': ['drought', 'earthquake', 'flood'],
 'Population': '35623235 people'}

In [23]:
type(countries[0])

dict

In [24]:
countries[0].keys()

dict_keys(['Name', 'Population', 'Continent', 'Area', 'GDP', 'NaturalHazards'])

In [25]:
countries[0]['Name']

'Afghanistan'

In [26]:
countries[0]['Continent']

'Asia'

In [27]:
countries[0]['Area']

'652230 kilometers squared'

In [28]:
countries[0]['GDP']

'19331286549 US dollars per year'

In [29]:
countries[0]['NaturalHazards']

['drought', 'earthquake', 'flood']

In [30]:
countries[0]['Population']

'35623235 people'

**Find total population for each continet**

In [31]:
continental_pops = {}
total_pop = 0
for country in countries:
    continent = country["Continent"]
    pop = int(country["Population"].split(" ")[0])
    #Extarcting population for each country and Adding that poulation to the total population of that continent
    #The second argument 0 will be used for the first coutry of that continent
    #When continental_pops dictionary does not have any entry for a continent consider 0
    continental_pops[continent] = continental_pops.get(continent, 0) + pop
    total_pop += pop

#Once the population is calculated. Printing the results
print("\nThe total population in each continent:")
for continent in sorted(continental_pops.keys()):
    print(f"{continent} has a total of {continental_pops[continent]} people.")
print(f"That gives a total of {total_pop} people on Earth.")

The total population in each continent:
Africa has a total of 1130881210 people.
Asia has a total of 4477006876 people.
Europe has a total of 598292164 people.
NorthAmerica has a total of 565020417 people.
Oceania has a total of 38823795 people.
SouthAmerica has a total of 408939962 people.
That gives a total of 7218964424 people on Earth.

**How many coutries are facing each type of hazard? Print your answer in a descending order.**

In [32]:
countries[0]['NaturalHazards']

['drought', 'earthquake', 'flood']

In [33]:
alphabet = {"a":100,"b":2,"c":20,"d":50}
alphabet

{'a': 100, 'b': 2, 'c': 20, 'd': 50}

In [34]:
alphabet['c']

20

In [35]:
list(sorted(alphabet.keys(), key=(lambda x: alphabet[x]), reverse = True))

['a', 'd', 'c', 'b']

In [36]:
keysSortedOnValues = list(sorted(alphabet.keys(), key=(lambda x: alphabet[x]), reverse = True))
print(keysSortedOnValues)
[alphabet[c] for c in keysSortedOnValues]

['a', 'd', 'c', 'b']

[100, 50, 20, 2]

In [37]:
[(c,alphabet[c]) for c in keysSortedOnValues]

[('a', 100), ('d', 50), ('c', 20), ('b', 2)]

In [38]:
hazard_table = {}
for country in countries:
    hazards = country["NaturalHazards"]
    for hazard in hazards:
        hazard_table[hazard] = hazard_table.get(hazard, 0) + 1

print(hazard_table)
print("\nHere are the hazards found around the world:")
for hazard in sorted(hazard_table.keys(), key=(lambda x: hazard_table[x]), reverse = True):
    print(f"{hazard[0].upper() + hazard[1:]} is a hazard in {hazard_table[hazard]} countries.")

{'drought': 71, 'earthquake': 60, 'flood': 72, 'tsunami': 20, 'landslide': 28, 'tropical cyclone': 76, 'avalanche': 6, 'wildfire': 9, 'dust storm': 31, 'volcano': 36, 'locust plague': 3, 'land subsidence': 2, 'thunderstorm': 3, 'tornado': 2}

Here are the hazards found around the world:
Tropical cyclone is a hazard in 76 countries.
Flood is a hazard in 72 countries.
Drought is a hazard in 71 countries.
Earthquake is a hazard in 60 countries.
Volcano is a hazard in 36 countries.
Dust storm is a hazard in 31 countries.
Landslide is a hazard in 28 countries.
Tsunami is a hazard in 20 countries.
Wildfire is a hazard in 9 countries.
Avalanche is a hazard in 6 countries.
Locust plague is a hazard in 3 countries.
Thunderstorm is a hazard in 3 countries.
Land subsidence is a hazard in 2 countries.
Tornado is a hazard in 2 countries.

**Find population density for each country and average of all countries**

In [39]:
countries[0]['Population']

'35623235 people'

In [40]:
countries[0]['Area']

'652230 kilometers squared'

In [41]:
import statistics

print("\nLet's demonstrate the Python statistics package.")

for country in countries:
    country["Population"] = float(country["Population"].split(" ")[0])
    country["Area"] = float(country["Area"].split(" ")[0])
    #avoid division by zero
    if country["Area"] == 0:
        country["Area"] = 1

Let's demonstrate the Python statistics package.

**Population density for each country of the world**

In [42]:
print([(country["Name"], country["Population"] / country["Area"]) for country in countries])

[('Afghanistan', 54.61759655336308), ('Albania', 113.0045568387366), ('Algeria', 15.733738471143587), ('American Samoa', 274.96984924623115), ('Andorra', 182.60256410256412), ('Angola', 17.064653084142137), ('Anguilla', 176.76923076923077), ('Antigua and Barbuda', 206.5497737556561), ('Argentina', 15.117050912757644), ('Armenia', 105.0932992636923), ('Aruba', 606.2111111111111), ('Australia', 3.0360529735623065), ('Austria', 100.77477316354879), ('Azerbaijan', 111.35222863741339), ('Bahamas', 25.87478386167147), ('Bahrain', 1827.678947368421), ('Bangladesh', 1085.9886387310935), ('Barbados', 641.2697674418605), ('Belarus', 45.61616088631985), ('Belgium', 355.119660639413), ('Belize', 14.682966123835234), ('Benin', 87.59647315799755), ('Bermuda', 1293.3148148148148), ('Bhutan', 20.15017971558056), ('Bolivia', 9.624431880762547), ('Bosnia and Herzegovina', 72.78881575092291), ('Botswana', 3.601672597253021), ('Brazil', 23.68801616277017), ('British Virgin Islands', 157.52317880794703), ('Brunei', 73.9930615784909), ('Bulgaria', 65.84509239801946), ('Burkina Faso', 67.67655725747629), ('Burundi', 325.8877470355731), ('Cambodia', 81.94853481371005), ('Cameroon', 44.93299890627629), ('Canada', 3.5363767655816365), ('Cape Verde', 127.72972972972973), ('Cayman Islands', 208.00757575757575), ('Central African Republic', 7.640565407779333), ('Chad', 9.702547507788163), ('Chile', 23.439784579329245), ('China', 142.20890136043081), ('Christmas Island', 11.207407407407407), ('Cocos Keeling Islands', 39.285714285714285), ('Colombia', 42.82214573583514), ('Comoros', 363.58299776286356), ('Cook Islands', 42.940677966101696), ('Costa Rica', 96.3741878669276), ('Croatia', 77.2159769586882), ('Cuba', 101.37446328702869), ('Curacao', 330.7117117117117), ('Cyprus', 124.679386012323), ('Czech Republic', 134.54676861044544), ('Democratic Republic of the Congo', 31.256134060143513), ('Denmark', 130.62045760430686), ('Djibouti', 41.27693965517241), ('Dominica', 97.80159786950732), ('Dominican Republic', 214.33778508321348), ('East Timor', 84.83998924297431), ('Ecuador', 53.79847369701757), ('Egypt', 86.66197413750062), ('El Salvador', 301.4586283921867), ('Equatorial Guinea', 27.86970161491569), ('Eritrea', 50.29345238095238), ('Estonia', 29.57948615901654), ('Ethiopia', 80.0077994760129), ('Falkland Islands', 0.23330321202661627), ('Faroe Islands', 35.684852835606605), ('Fiji', 48.68047499179162), ('Finland', 16.07074184151769), ('France', 116.23083952855848), ('French Guiana', 2.7407472527472527), ('French Polynesia', 67.79025677945765), ('Gabon', 6.071316225010928), ('Gambia', 170.40796812749005), ('Gaza Strip', 4898.297222222222), ('Georgia', 61.00038737446198), ('Germany', 228.62904526891901), ('Ghana', 112.02278091500966), ('Gibraltar', 4851.833333333333), ('Greece', 86.93538729725633), ('Greenland', 0.026650834731400324), ('Grenada', 308.5174418604651), ('Guadeloupe', 262.5477528089888), ('Guam', 342.94485294117646), ('Guatemala', 146.24095179494714), ('Guernsey', 841.0897435897435), ('Guinea', 44.880572853325305), ('Guinea-Bissau', 45.58809688581315), ('Guyana', 3.5399150575199214), ('Haiti', 379.15073873873877), ('Honduras', 73.43886162904809), ('Hong Kong', 6660.276268115942), ('Hungary', 106.61711527712087), ('Iceland', 3.2585533980582526), ('India', 392.96525894034033), ('Indonesia', 131.03409065253084), ('Iran', 46.83033131067961), ('Iraq', 82.07083729911777), ('Ireland', 66.62647104862465), ('Isle of Man', 150.62762237762237), ('Israel', 382.26986037554167), ('Italy', 203.01071215238602), ('Ivory Coast', 66.7760673317559), ('Jamaica', 252.99690655991265), ('Japan', 334.0750830388926), ('Jersey', 825.2758620689655), ('Jordan', 74.8172080320566), ('Kazakhstan', 6.135494513560131), ('Kenya', 77.74570228837959), ('Kiribati', 128.83847102342787), ('Kosovo', 170.77275649857629), ('Kuwait', 169.68245594342798), ('Kyrgyzstan', 27.816655080494723), ('Laos', 27.63295608108108), ('Latvia', 34.34211707875954), ('Lebanon', 416.7148871029468), ('Lesotho', 74.56323505188601), ('Liberia', 39.964891486859), ('Libya', 3.7214112779476456), ('Liechtenstein', 233.20625), ('Lithuania', 49.997120980091886), ('Luxembourg', 207.43503480278423), ('Macau', 21073.60714285714), ('Macedonia', 80.54983860304127), ('Madagascar', 39.51368814103274), ('Malawi', 143.08779244454948), ('Malaysia', 91.71551961970246), ('Maldives', 1116.6174496644296), ('Mali', 13.956047934513366), ('Malta', 1334.9493670886077), ('Marshall Islands', 392.17127071823205), ('Martinique', 372.15090909090907), ('Mauritania', 3.67364897642379), ('Mauritius', 650.7294117647059), ('Mayotte', 598.6818181818181), ('Mexico', 60.468731784918866), ('Micronesia', 161.55982905982907), ('Moldova', 102.61558004194853), ('Monaco', 15254.0), ('Mongolia', 1.8742638014060338), ('Montenegro', 45.86634810309875), ('Montserrat', 51.127450980392155), ('Morocco', 74.4606561415295), ('Mozambique', 32.01272861467638), ('Myanmar', 73.18329593927086), ('Namibia', 2.965029382791535), ('Nauru', 451.8095238095238), ('Nepal', 217.81842085595287), ('Netherlands', 404.56209228991645), ('New Caledonia', 14.341749663526246), ('New Zealand', 16.952724430549353), ('Nicaragua', 47.007118202040346), ('Niger', 14.094606156274665), ('Nigeria', 189.75352902460358), ('Niue', 6.196153846153846), ('Norfolk Island', 61.0), ('Northern Mariana Islands', 189.6551724137931), ('North Korea', 205.36479782309314), ('Norway', 15.51119202475587), ('Oman', 9.719873990306947), ('Pakistan', 234.1789434678022), ('Palau', 46.15686274509804), ('Panama', 49.4704189870061), ('Papua New Guinea', 16.17321752657506), ('Paraguay', 16.99751691448352), ('Peru', 23.6680768057665), ('Philippines', 332.55096), ('Pitcairn Islands', 1.1914893617021276), ('Poland', 122.63060907942499), ('Portugal', 116.24785535888805), ('Puerto Rico', 413.7110005527916), ('Qatar', 172.91981702054204), ('Republic of the Congo', 12.910345029239766), ('R√©union', 347.61382598331346), ('Romania', 89.30619025047086), ('Russia', 8.32834545212309), ('Rwanda', 453.7296681600729), ('Saint Helena, Ascension and Tristan da Cunha', 18.571428571428573), ('Saint Kitts and Nevis', 197.46360153256705), ('Saint Lucia', 294.15909090909093), ('Saint Pierre and Miquelon', 23.859504132231404), ('Saint Vincent and the Grenadines', 281.08997429305913), ('Samoa', 65.93924408336277), ('San Marino', 536.7540983606557), ('S√£o Tom√© and Pr√≠ncipe', 185.6234439834025), ('Saudi Arabia', 15.2656068453143), ('Senegal', 70.17737212919755), ('Serbia', 92.47143557838758), ('Seychelles', 201.42857142857142), ('Sierra Leone', 88.9889322553666), ('Singapore', 7656.899569583931), ('Sint Maarten', 1167.3235294117646), ('Slovakia', 112.10678087080656), ('Slovenia', 101.0759137769447), ('Solomon Islands', 20.598352713178294), ('Somalia', 16.188502596223362), ('South Africa', 42.004390159873346), ('South Korea', 497.072298943948), ('South Sudan', 17.21186536691659), ('Spain', 93.57600174129846), ('Sri Lanka', 328.54520652339585), ('Sudan', 25.417285060771935), ('Suriname', 3.3176474178976925), ('Svalbard', 0.04250141026674188), ('Swaziland', 72.19102741303847), ('Sweden', 21.309628132668585), ('Switzerland', 188.6812510599123), ('Syria', 117.84968679123016), ('Taiwan', 649.2475819899944), ('Tajikistan', 50.94865129280224), ('Tanzania', 53.52622189380344), ('Thailand', 137.53349119114438), ('Togo', 115.22534119926037), ('Tokelau', 112.75), ('Tonga', 141.51807228915663), ('Trinidad and Tobago', 265.07566302652106), ('Tunisia', 66.74832222969256), ('Turkey', 97.23593155359755), ('Turkmenistan', 10.857850850235607), ('Turks and Caicos Islands', 51.76160337552743), ('Tuvalu', 414.6923076923077), ('Uganda', 160.66484070496526), ('Ukraine', 73.66040261784443), ('United Arab Emirates', 99.01473684210526), ('United Kingdom', 260.8931653052009), ('United States', 33.47616083609686), ('United States Virgin Islands', 310.31518624641836), ('Uruguay', 19.381165054053287), ('Uzbekistan', 64.20487930263747), ('Vanuatu', 21.66100582492411), ('Vatican City', 839.0), ('Venezuela', 33.75479633792007), ('Vietnam', 277.8335386576041), ('Wallis and Futuna Islands', 109.20422535211267), ('West Bank', 466.04982935153583), ('Western Sahara', 2.200263157894737), ('Yemen', 51.447335823383234), ('Zambia', 19.621574291340362), ('Zimbabwe', 34.970897514311964)]

**Average population density for all countries**

In [43]:
mn = statistics.mean([country["Population"] / country["Area"] for country in countries])
print(f"Mean population density is {mn:.1f} people per square kilometer.")

Mean population density is 415.4 people per square kilometer.

# Exploring the mountains file

In [44]:
import json

with open('mountains.json', encoding="utf-8") as data_file:
    mountains = json.load(data_file)

print(f"Read {len(mountains)} mountains from the JSON file.")
print("JSON data file generated from Wolfram Mathematica.")

Read 3741 mountains from the JSON file.
JSON data file generated from Wolfram Mathematica.

In [45]:
type(mountains)

list

In [46]:
mountains[0]

{'ClimbingDifficulty': 'Walk Up',
 'ClimbingMonths': ['June', 'July', 'August', 'September'],
 'Countries': ['United States'],
 'Elevation': '1323 meters',
 'MountainRange': '{Sandwich Range}',
 'Name': 'Osceola'}

In [47]:
type(mountains[0])

dict

In [48]:
mountains[0].keys()

dict_keys(['Name', 'Elevation', 'ClimbingDifficulty', 'Countries', 'ClimbingMonths', 'MountainRange'])

In [49]:
Countries_Mountain_list = {} # Will store country name along list of mountains
tallest = {}#Will contain a tuple for all country keys (names) the tuple is mountain name and its height
smallest = ('Molehill', 0)

for mountain in mountains:
    for country in mountain['Countries']:
        Countries_Mountain_list[country] = Countries_Mountain_list.get(country, []) + [mountain['Name']]
        t = tallest.get(country, smallest)
        try:
            e = int(mountain['Elevation'].split(' ')[0])
        except ValueError:
            e = 0
        if e > t[1]:
            tallest[country] = (mountain['Name'], e)

In [50]:
tallest

{'Afghanistan': ('Noshaq', 7492),
 'Albania': ('Golemi Korab', 2764),
 'Algeria': ('Tahat', 2918),
 'Andorra': ('Pic de Coma Pedrosa', 2942),
 'Antarctica': ('Vinson Massif', 4897),
 'Antigua and Barbuda': ('Volcan Antigua', 3406),
 'Argentina': ('Aconcagua', 6962),
 'Armenia': ('Mount Aragats', 4090),
 'Australia': ('Mawson Peak', 2745),
 'Austria': ('Grossglockner', 3798),
 'Azerbaijan': ('Mount Bazard√ºz√º', 4466),
 'Bangladesh': ('Keokradong', 883),
 'Belgium': ('Signal de Botrange', 694),
 'Bhutan': ('Gangkar Punsum', 7570),
 'Bolivia': ('Sajama', 6530),
 'Bosnia and Herzegovina': ('Magliƒá ', 2387),
 'Brazil': ('Pico da Neblina', 2994),
 'Brunei': ('Bukit Batu Bujang Pahang', 70),
 'Bulgaria': ('Musala', 2925),
 'Burkina Faso': ('Mount Tenakourou', 747),
 'Cambodia': ('Phnom Aural', 1813),
 'Cameroon': ('Cameroon Mountain', 4070),
 'Canada': ('Mount Logan', 5959),
 'Chad': ('Emi Koussi', 3415),
 'Chile': ('Ojos del Salado', 6880),
 'China': ('Mount Everest', 8848),
 'Colombia': ('Pico Crist√≥bal Col√≥n', 5775),
 'Costa Rica': ('Cerro Chirrip√≥', 3820),
 'Croatia': ('Dinara', 1831),
 'Cuba': ('Pico Turquino', 1974),
 'Curacao': ('Christoffelberg', 372),
 'Cyprus': ('Mount Olympus', 1952),
 'Czech Republic': ('Snezka', 1602),
 'Democratic Republic of the Congo': ('Mount Stanley', 5109),
 'Denmark': ('Yding Skovh√∏j', 172),
 'Dominica': ('Morne Anglais', 1123),
 'Dominican Republic': ('Pico Duarte', 3175),
 'Ecuador': ('Chimborazo', 6267),
 'Egypt': ('Mount Sinai', 2640),
 'El Salvador': ('Cerro El Pital', 2730),
 'Eritrea': ('Emba Soira', 3018),
 'Ethiopia': ('Ras Dashen', 4533),
 'Faroe Islands': ('Sl√¶ttaratindur', 880),
 'Finland': ('Mount Haltia', 1328),
 'France': ('Mont Blanc', 4810),
 'French Polynesia': ('Aorai', 2066),
 'Georgia': ('Shkhara', 5200),
 'Germany': ('Zugspitze', 2962),
 'Gibraltar': ('Rock of Gibraltar', 426),
 'Greece': ('Mount Olympus (Greece)', 2919),
 'Greenland': ('Snebordet', 3150),
 'Guatemala': ('Tajumulco', 4220),
 'Guyana': ('Mount Roraima', 2810),
 'Honduras': ('Cerro Las Minas', 2870),
 'Hong Kong': ('Tai Mo Shan', 957),
 'Hungary': ('K√©kes', 1015),
 'Iceland': ('Hvannadalshnukur', 2119),
 'India': ('Kangchenjunga', 8586),
 'Indonesia': ('Puncak Jaya', 4884),
 'Iran': ('Damavand', 5670),
 'Ireland': ('Carrantuohill', 1040),
 'Isle of Man': ('Snaefell', 620),
 'Israel': ('Har Karkom', 1035),
 'Italy': ('Mont Blanc', 4810),
 'Jamaica': ('Blue Mountain Peak', 2317),
 'Japan': ('Fuji-san', 3776),
 'Jordan': ('Mount Nebo', 817),
 'Kazakhstan': ('Hantengri Feng', 6995),
 'Kenya': ('Mount Kenya', 5199),
 'Kosovo': ('ƒêeravica', 2656),
 'Kyrgyzstan': ('Jengish Chokusu', 7439),
 'Laos': ('Phou Bia', 2830),
 'Latvia': ('Gaizins', 311),
 'Lebanon': ("Qurnat as Sawda'", 3088),
 'Lesotho': ('Thabana Ntlenyana', 3482),
 'Libya': ('Danghar Puge', 5031),
 'Liechtenstein': ('Grauspitz', 2599),
 'Lithuania': ('Juozapine', 292),
 'Luxembourg': ('Kneiff', 560),
 'Macedonia': ('Golemi Korab', 2764),
 'Madagascar': ('Maromokotro', 2876),
 'Malawi': ('Mulanje', 3003),
 'Malaysia': ('Mount Kinabalu', 4102),
 'Martinique': ('Mont Pel√©e', 1397),
 'Mexico': ('Pico de Orizaba', 5610),
 'Monaco': ('Mont Agel', 1148),
 'Mongolia': ('Kh√ºiten Peak', 4374),
 'Montenegro': ('ƒêeravica', 2656),
 'Montserrat': ('Soufri√©re Hills', 915),
 'Morocco': ('Toubkal', 4167),
 'Mozambique': ('Monte Binga', 2439),
 'Myanmar': ('Hkakabo Razi', 5881),
 'Namibia': ('Koenigsstein', 2573),
 'Nepal': ('Mount Everest', 8848),
 'Netherlands': ('Mount Scenery', 870),
 'New Zealand': ('Mount Cook', 3754),
 'Nicaragua': ('Volcan Mombacho', 1345),
 'North Korea': ('Mount Baekdu', 2744),
 'Northern Mariana Islands': ('Mount (Saipan) Tagpochau', 474),
 'Norway': ('Galdh√∏piggen', 2469),
 'Oman': ('Jebel Shams', 3009),
 'Pakistan': ('K2', 8612),
 'Panama': ('Volcan Baru', 3478),
 'Papua New Guinea': ('Mount Wilhelm', 4509),
 'Peru': ('Huascaran', 6768),
 'Philippines': ('Mount Apo', 2954),
 'Poland': ('Rysy', 2499),
 'Portugal': ('Montanha Do Pico', 2351),
 'Puerto Rico': ('Cerro Rosa', 1267),
 'Romania': ('Moldoveanu', 2545),
 'Russia': ('Mount Elbrus', 5642),
 'Rwanda': ('Mount Karisimbi', 4507),
 'R√©union': ('Piton des Neiges', 3070),
 'Saint Kitts and Nevis': ('Mount Liamuiga', 1156),
 'Saudi Arabia': ('Jabal Sawda', 3133),
 'Serbia': ('ƒêeravica', 2656),
 'Singapore': ('Bukit Timah', 163),
 'Sint Maarten': ('Pic Paradis', 420),
 'Slovakia': ('Gerlachovsk√Ω ≈°t√≠t', 2655),
 'Slovenia': ('Triglav', 2864),
 'Solomon Islands': ('Mount Popomanaseu', 2335),
 'South Africa': ('Mafadi', 3450),
 'South Korea': ('Halla-san', 1950),
 'Spain': ('Pico de Teide', 3718),
 'Sri Lanka': ('Piduruthalagala', 2524),
 'Sudan': ('Jebel Uweinat', 1934),
 'Svalbard': ('Newtontoppen', 1717),
 'Sweden': ('Kebnekaise', 2111),
 'Switzerland': ('Monte Rosa', 4633),
 'Taiwan': ('Yushan', 3997),
 'Tajikistan': ('Pik Imeni Ismail Samani', 7495),
 'Tanzania': ('Mount Kilimanjaro', 5895),
 'Thailand': ('Phu Khi Suek', 753),
 'Tunisia': ('Jebel Chaambi', 1544),
 'Turkey': ('Mount Ararat', 5165),
 'Uganda': ('Mount Baker', 4844),
 'Ukraine': ('Goverla', 2061),
 'United Arab Emirates': ('Jebel Yibir', 1527),
 'United Kingdom': ('Ben Nevis', 1343),
 'United States': ('Denali', 6190),
 'Uzbekistan': ('Khazret Sultan', 4643),
 'Venezuela': ('Pico Bolivar', 5007),
 'Vietnam': ('Fan Si Pan', 3211),
 'West Bank': ('Mount Ebal', 940),
 'Yemen': ('Hadur Shu‚Äòayb', 3760),
 'Zambia': ('Mumpu', 1951),
 'Zimbabwe': ('Mount Nyangani', 2592)}

In [51]:
print("\nHere are top thirty countries sorted by their tallest mountains using sorted list slice:")
#Prepare a list with country names from the dict tallest 
countryNames = list(tallest.keys())
#At the end taking a slice of 30 size from the list
countryNames = sorted(countryNames, key = (lambda x: tallest.get(x, smallest)[1]), reverse = True)[:30]
for c in countryNames: 
    t = tallest[c]
    print(f'{c} with {t[0]}, elevation {t[1]} m.')

Here are top thirty countries sorted by their tallest mountains using sorted list slice:
Nepal with Mount Everest, elevation 8848 m.
China with Mount Everest, elevation 8848 m.
Pakistan with K2, elevation 8612 m.
India with Kangchenjunga, elevation 8586 m.
Bhutan with Gangkar Punsum, elevation 7570 m.
Tajikistan with Pik Imeni Ismail Samani, elevation 7495 m.
Afghanistan with Noshaq, elevation 7492 m.
Kyrgyzstan with Jengish Chokusu, elevation 7439 m.
Kazakhstan with Hantengri Feng, elevation 6995 m.
Argentina with Aconcagua, elevation 6962 m.
Chile with Ojos del Salado, elevation 6880 m.
Peru with Huascaran, elevation 6768 m.
Bolivia with Sajama, elevation 6530 m.
Ecuador with Chimborazo, elevation 6267 m.
United States with Denali, elevation 6190 m.
Canada with Mount Logan, elevation 5959 m.
Tanzania with Mount Kilimanjaro, elevation 5895 m.
Myanmar with Hkakabo Razi, elevation 5881 m.
Colombia with Pico Crist√≥bal Col√≥n, elevation 5775 m.
Iran with Damavand, elevation 5670 m.
Russia with Mount Elbrus, elevation 5642 m.
Mexico with Pico de Orizaba, elevation 5610 m.
Georgia with Shkhara, elevation 5200 m.
Kenya with Mount Kenya, elevation 5199 m.
Turkey with Mount Ararat, elevation 5165 m.
Democratic Republic of the Congo with Mount Stanley, elevation 5109 m.
Libya with Danghar Puge, elevation 5031 m.
Venezuela with Pico Bolivar, elevation 5007 m.
Antarctica with Vinson Massif, elevation 4897 m.
Indonesia with Puncak Jaya, elevation 4884 m.

**Another method to extract top thirty countries sorted by their tallest mountains**

In [52]:
print("\nHere are top thirty countries sorted by their tallest mountains using list index:")

countryNames = sorted(countryNames,key = (lambda x: tallest.get(x)[1]),reverse = True)
for i in range(30):
    c = countryNames[i]
    t = tallest[c]
    print(f'{i+1:2}. {c} with {t[0]}, elevation {t[1]} m.')

Here are top thirty countries sorted by their tallest mountains using list index:
 1. Nepal with Mount Everest, elevation 8848 m.
 2. China with Mount Everest, elevation 8848 m.
 3. Pakistan with K2, elevation 8612 m.
 4. India with Kangchenjunga, elevation 8586 m.
 5. Bhutan with Gangkar Punsum, elevation 7570 m.
 6. Tajikistan with Pik Imeni Ismail Samani, elevation 7495 m.
 7. Afghanistan with Noshaq, elevation 7492 m.
 8. Kyrgyzstan with Jengish Chokusu, elevation 7439 m.
 9. Kazakhstan with Hantengri Feng, elevation 6995 m.
10. Argentina with Aconcagua, elevation 6962 m.
11. Chile with Ojos del Salado, elevation 6880 m.
12. Peru with Huascaran, elevation 6768 m.
13. Bolivia with Sajama, elevation 6530 m.
14. Ecuador with Chimborazo, elevation 6267 m.
15. United States with Denali, elevation 6190 m.
16. Canada with Mount Logan, elevation 5959 m.
17. Tanzania with Mount Kilimanjaro, elevation 5895 m.
18. Myanmar with Hkakabo Razi, elevation 5881 m.
19. Colombia with Pico Crist√≥bal Col√≥n, elevation 5775 m.
20. Iran with Damavand, elevation 5670 m.
21. Russia with Mount Elbrus, elevation 5642 m.
22. Mexico with Pico de Orizaba, elevation 5610 m.
23. Georgia with Shkhara, elevation 5200 m.
24. Kenya with Mount Kenya, elevation 5199 m.
25. Turkey with Mount Ararat, elevation 5165 m.
26. Democratic Republic of the Congo with Mount Stanley, elevation 5109 m.
27. Libya with Danghar Puge, elevation 5031 m.
28. Venezuela with Pico Bolivar, elevation 5007 m.
29. Antarctica with Vinson Massif, elevation 4897 m.
30. Indonesia with Puncak Jaya, elevation 4884 m.

In [53]:
print("\nHere are the top thirty countries sorted by named mountains:")

countryNames = sorted(countryNames, key = (lambda x: len(Countries_Mountain_list.get(x, []))),reverse = True)

for i in range(30):
    c = countryNames[i]
    print(f'{i+1:2}. {c} with {len(Countries_Mountain_list[c])} named mountains.')

Here are the top thirty countries sorted by named mountains:
 1. United States with 1011 named mountains.
 2. Canada with 185 named mountains.
 3. India with 85 named mountains.
 4. Nepal with 72 named mountains.
 5. China with 64 named mountains.
 6. Pakistan with 53 named mountains.
 7. Argentina with 49 named mountains.
 8. Chile with 41 named mountains.
 9. Peru with 39 named mountains.
10. Mexico with 33 named mountains.
11. Iran with 31 named mountains.
12. Turkey with 30 named mountains.
13. Bolivia with 26 named mountains.
14. Indonesia with 25 named mountains.
15. Kyrgyzstan with 22 named mountains.
16. Ecuador with 19 named mountains.
17. Georgia with 18 named mountains.
18. Venezuela with 17 named mountains.
19. Russia with 15 named mountains.
20. Tajikistan with 14 named mountains.
21. Colombia with 12 named mountains.
22. Antarctica with 12 named mountains.
23. Democratic Republic of the Congo with 11 named mountains.
24. Kazakhstan with 5 named mountains.
25. Tanzania with 5 named mountains.
26. Afghanistan with 4 named mountains.
27. Myanmar with 4 named mountains.
28. Bhutan with 3 named mountains.
29. Kenya with 3 named mountains.
30. Libya with 1 named mountains.

In [54]:
# https://en.wikipedia.org/wiki/Benford%27s_law
print("\nLet's see how well Benford's law applies to mountain heights.")

digit_m = {}
digit_f = {}
digit_y = {}

count = 0
for mountain in mountains:
    try:
        m = int(mountain['Elevation'].split(' ')[0])
    except ValueError:
        m = 0
    h = int(str(m)[0])
    digit_m[h] = digit_m.get(h, 0) + 1
    f = 0.3048 * m  # feet
    h = int(str(f)[0])
    digit_f[h] = digit_f.get(h, 0) + 1
    y = 0.9144 * m # yards
    h = int(str(y)[0])
    digit_y[h] = digit_y.get(h, 0) + 1
    count += 1

from math import log
benford = [100 * (log(d+1, 10) - log(d, 10)) for d in range(1, 10)]

print("Digit\tMeters\tFeet\tYards\tBenford")
for d in range(1, 10):
    print(f"{d}\t{100 * digit_m[d] / count:.1f}\t{100 * digit_f[d] / count:.1f}"
          +f"\t{100 * digit_y[d] / count:.1f}\t{benford[d-1]:.1f}")

Let's see how well Benford's law applies to mountain heights.
Digit	Meters	Feet	Yards	Benford
1	21.3	30.4	25.0	30.1
2	29.2	11.4	30.0	17.6
3	17.9	7.5	18.0	12.5
4	10.0	6.7	6.2	9.7
5	5.8	6.8	6.3	7.9
6	5.5	9.8	5.6	6.7
7	4.9	10.2	3.3	5.8
8	2.3	8.8	2.4	5.1
9	2.2	7.6	2.4	4.6